[submodule "compositor/src/main/cpp/wayland"]
	path = compositor/src/main/cpp/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "compositor/src/main/cpp/libffi"]
	path = compositor/src/main/cpp/libffi
	url = https://github.com/libffi/libffi.git
